body {
    font-family: Arial, sans-serif;
}

.NewCD-container {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
    background-color: #1a1a2e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-right: 20px;
}

.logo {
    justify-content: center;
    display: flex;
    gap: 10px; 
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
}
