body{
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            display: flex;
            flex-direction: column;
            color: black;
            min-height: 100vh;
          }
          .main{
            flex: 1;
          }
   .navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a2e;
  padding: 15px 50px;
  z-index: 1000;
}

.logo img {
  height: 50px;
  width: auto;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #e0e1dd; 
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.nav-links a:hover,.nav-links a:focus {
  color: #5dade2; }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 20px 0;
  }

.footer-container {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.socials, .newsletter, .footer-nav {
    flex: 1 1 200px; 
    margin: auto;
    max-width: 100%;
}

.socials p, .newsletter h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.social-links img {
    height: 40px;
    margin: 0 5px;
    transition: transform 0.7s ease 
  }

.social-links img:hover {
transform: scale(1.2);
}

.newsletter input[type="email"] {
    padding: 8px 15px;
    width: 65%;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.newsletter input[type="submit"] {
    padding: 8px 15px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.newsletter input[type="submit"]:hover {
    background-color: #b23f26;
}

.footer-nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.footer-nav li {
    margin: 10px 0;
}

.footer-nav a {
    color: #e0e1dd;
    text-decoration: none;
    font-size: 16px;
}

.footer-nav a:hover {
    color: #5dade2;
}

.footer-nav a:hover::after,
.footer-nav a:focus::after {
    width: 10%;
}

.footer-nav a:hover,
.footer-nav a:focus {
  color: #5dade2;
}

  .footer-nav a::after {
    content: "";
    width: 0px;
    border-radius: 50%;
    height: 3px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: width 0.5s ease;
  }